 <div class="menu">
         
              <ul class="menu-pal">
                       <li><a href="/SCV_Portlet/index.jsp" class="inicio scvInicio"><span style="active">Inicio</span></a></li>
                       <li><a href="/SCV_Portlet/cliente/ConsultarCliente.jsp#consultarCliente" class="cliente scvCliente">Cliente</a></li>
                       <li><a href="/SCV_Portlet/proceso/CrearProcesoGeneral.jsp#crearProceso" class="proceso scvProceso">Proceso</a></li>                                             
                       <li>
                           <a href="/SCV_Portlet/visitas/AdmonMonitoreo.jsp#AdmonMonitoreo"  class="visita scvVisita">Visitas</a>
                           <span id="notificacion" class="alertNotificacion" style="display:none;"></span>
                       </li> 
                       <li><a href="/SCV_Portlet/reportes/ConsultarReporte1.jsp#consultarReporte1" class="reporte scvReporte">Reportes</a></li> 
                       <!--<li><a href="/SCV_Portlet/dashboard/ConsultarDashboard1.jsp#consultarDashboard1" class="dashboard scvDashboard">Dashboard</a></li>-->
                       <li><a href="/SCV_Portlet/parametrizacion/ActividadesEconomicas.jsp#acteconomicas" class="parametri scvParm">Config</a></li>                                                
                       <li><a href="/SCV_Portlet/permisos/AdicionarUsuario.jsp#AddUser" class="permisos scvPermisos">Permisos</a></li> 
                       <li><a href="/SCV_Portlet/LogOut" class="salir scvSalir">Salir</a></li> 

                </ul>
 </div>
