<div id="ContentLeft">
    <ul id="MenuLeft">
        <li><a id="consultarReporte1" href="ConsultarReporte1.jsp#consultarReporte1" class="consultarReporte1">Reporte de Caracterizacion y Proceso Seco</a></li>
        <li><a id="consultarReporte2" href="ConsultarReporte2.jsp#consultarReporte2" class="consultarReporte2">Reporte Seguimiento de Estados</a></li>
        <li><a id="consultarReporte3" href="ConsultarReporte3.jsp#consultarReporte3" class="consultarReporte3">Reporte de Visitas</a></li>
        <li><a id="consultarReporte4" href="ConsultarReporte4.jsp#consultarReporte4" class="consultarReporte4">Reporte de Procesos</a></li>
        <li><a id="consultarReporte5" href="ConsultarReporte5.jsp#consultarReporte5" class="consultarReporte5">Empresas a Monitorear</a></li>
        <li><a id="consultarReporte6" href="ConsultarReporte6.jsp#consultarReporte6" class="consultarReporte6">Parametro Fisicoquimico</a></li>
        <li><a id="consultarReporte7" href="ConsultarReporte7.jsp#consultarReporte7" class="consultarReporte7">Produccion Lodo - Tasa Retributiva</a></li>
        <li><a id="ReporteDagma" href="ReporteDagma.jsp#ReporteDagma" class="ReporteDagma">Reporte DAGMA</a></li>
    </ul>
</div>