<div id="ContentLeft">
    <ul id="MenuLeft">
        <li><a id="acteconomicas" href="ActividadesEconomicas.jsp#acteconomicas">Actividades Econ&oacute;micas</a></li>
        <li><a id="actParm" href="ActParamFisicoquimicos.jsp#actParm">Act. Econ&oacute; - Par&aacute;m Fisiqu&iacute;m</a></li>
        <li><a id="asoContrato" href="AsociacionContratos.jsp#AsoContrato" >Asociaci&oacute;n Contratos</a></li>
        <li><a id="consultores" href="Consultores.jsp#consultores" >Consultores</a></li>
        <li><a id="docRequerido" href="DocumentosRequeridos.jsp#docRequerido">Documentos Requeridos</a></li>
        <li><a id="estadopr" href="EstadosProceso.jsp#estado">Estados del Proceso</a></li>
        <li><a id="laboratorio" href="LabConsultorios.jsp#laboratorio">Laboratorios</a></li>
        <li><a id="motivo" href="MotivosVisita.jsp#motivo">Motivos de Visita</a></li>
        <li><a id="paramFisQuim" href="ParamFisicoquimicos.jsp#paramFisQuim">Par&aacute;metros Fisicoqu&iacute;micos</a></li>
        <li><a id="puntos" href="PuntoVertimientoContrato.jsp#puntos">Puntos de Vertimento por Contratos</a></li>
        <li><a id="tarifa" href="Tarifas.jsp#tarifa" >Tarifas</a></li>
        <li><a id="tecnico" href="Tecnicos.jsp#tecnico">T&eacute;cnicos</a></li>
        <li><a id="contacto" href="TiposContacto.jsp#contacto">Tipo de Contacto Emcali</a></li>        
        <li><a id="tipoInfo" href="TiposInformeVertimientos.jsp#tipoInfo">Tipo de Informe de Vertimientos</a></li>
        <li><a id="tipoparam" href="TiposParamFisicoquimicos.jsp#tipoparam">Tipo de Parametros Fisicoqu&iacute;micos</a></li>
        <li><a id="unidad" href="UnidadesMedida.jsp#unidad">Unidades de Medida</a></li>
    </ul>
</div>