<div id="ContentLeft">
    <ul id="MenuLeft">
        <li><a id="consultarDashboard1" href="ConsultarDashboard1.jsp#consultarDashboard1" class="consultarDashboard1">Producci&oacute;n Lodo</a></li>
        <li><a id="consultarDashboard2" href="ConsultarDashboard2.jsp#consultarDashboard2" class="consultarDashboard2">% Incumplimiento por Parametro</a></li>
        <li><a id="consultarDashboard3" href="ConsultarDashboard3.jsp#consultarDashboard3" class="consultarDashboard3">Incumplimiento por Parametro</a></li>
        <li><a id="consultarDashboard4" href="ConsultarDashboard4.jsp#consultarDashboard4" class="consultarDashboard4">Evolucion Parametro</a></li>
        <li><a id="consultarDashboard5" href="ConsultarDashboard5.jsp#consultarDashboard5" class="consultarDashboard5">Evolucion DBO y SST</a></li>
    </ul>
</div>